{% extends 'LoisteMinesweeperBundle::base.html.twig' %}

{% block body %}

<h1>Minesweeper</h1>

{% set currentPath = path(app.request.attributes.get('_route')) %}
{% set gameArea = game.gameArea %}
{% set difficulty = ["Easy", "Medium", "Hard"] %}

{% if game.running == true %}
    <h3>Difficulty: {{ difficulty[game.difficulty] }}</h3>
{% else %}
    <h3>Game over! <a href="{{ path('LoisteMinesweeperBundle_begin') }}">Try again?</a></h3>
{% endif %}

<table id="game" data-route-make-move="{{ path('LoisteMinesweeperBundle_makeMove') }}">
    {% for row in 0..9 %}
    <tr>
        {% for column in 0..19 %}

        {# Define variables. #}
        {% set gameObject = gameArea[row][column] %}
        {% set type = gameObject.type %}

        <td class="game-cell" data-type="{{ type }}">
            {% if gameObject.discovered == false %}
                <img src="{{ asset('bundles/loisteminesweeper/images/cell.png') }}" />
            {% else %}
                {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_NUMBER') %}
                <img src="{{ asset('bundles/loisteminesweeper/images/' ~ gameObject.number ~ '.png') }}" />
                {% endif %}

                {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_MINE') %}
                <img src="{{ asset('bundles/loisteminesweeper/images/mine.png') }}" />
                {% endif %}

                {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_EXPLOSION') %}
                <img src="{{ asset('bundles/loisteminesweeper/images/explosion.png') }}" />
                {% endif %}

                {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_EMPTY') %}
                <img src="{{ asset('bundles/loisteminesweeper/images/empty.png') }}" />
                {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}